.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --primary-color: 0, 161, 253;
  --secondary-color: 137, 111, 228;
}

@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot');
  src:  url('./fonts/icomoon.eot') format('embedded-opentype'),
    url('./fonts/icomoon.ttf') format('truetype'),
    url('./fonts/icomoon.woff') format('woff'),
    url('./fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backward:before {
  content: "\e900";
}
.icon-forward:before {
  content: "\e901";
}
.icon-pause:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}

/* Utils Class */
.w-100 {
  width: 100%;
}

.ml-1 {
  margin-left: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-4 {
  margin-right: 20px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-6 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p-0-5 {
  padding: 2.5px;
}

.p-1-5 {
  padding: 7.5px;
}

.p-2 {
  padding: 10px;
}

.p-4 {
  padding: 20px;
}

.pr-4 {
  padding-right: 20px;
}

.br-5 {
  border-radius: 5px;
}

.c-pointer {
  cursor: pointer;
}